body {
  background-color: #e7e7e7 !important;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
}

ul {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

p {
  margin: 0;
}

.hr {
  border: 1px solid #e7e7e7;
}

.row .title h1 {
  font-size: 52px;
  padding: 10px 0;
}

.side-bar .h3 {
  font-size: 24px;
  font-weight: 900;
  margin-top: 25px;
  padding-bottom: 10px;
}

.thumbnail .h5 {
  font-size: 14px;
  font-weight: 900;
  margin: 0;
}

.active,
a .badge {
  font-weight: 900;
}

.content-bg {
  background-color: #ffffff;
}

/* header and navigation bar */
.navigation-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 110px;
}

.logo-wrap {
  height: 60px;
}

.logo {
  height: 100%;
  padding: 0px 23px;
  margin-top: 10px;
}

.links,
.nav-icons {
  display: flex;
  margin-top: 50px;
}

.links li a {
  color: #000000;
  padding: 15px;
  font-weight: 900;
  text-decoration: none;
  font-size: 14px;
}

.nav-icons li a {
  color: #000000;
  margin-right: 15px;
  font-weight: bold;
  font-size: 22px;
}

.links li a:hover {
  background-color: #e7e7e7;
}

.nav-icons li a:hover,
.links li a:hover,
.all-li a:hover,
li .all-li:hover,
footer .all-li:hover,
.active a {
  color: orange;
}

/* side bar menu */
.all-li {
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 18px 0;
  cursor: pointer;
  color: #333333;
  text-decoration: none;
}

.side-bar .h4 {
  margin-top: 25px;
  font-weight: 900;
  font-size: 18px;
}

.all-li a:hover,
.side-bar li .all-li {
  text-decoration: none;
}

.all-li:hover span:not(.text),
.caption,
.active a .badge,
.social i {
  background-color: orange;
}

.side-bar .badge {
  background-color: #d3d3d3;
  color: #5c5c5c;
  font-size: 12px;
}

.body ul {
  padding-bottom: 10px;
}

/* main showcase */
.loading {
  width: 100%;
  font-size: 48px;
  text-align: center;
}

.bike-showcase {
  display: flex;
  flex-wrap: wrap;
}

.image {
  height: 70%;
}

.image img {
  padding: 20px;
  display: block;
  width: 100%;
}

.thumbnail {
  height: 315px;
  padding: 0;
  border: 2px solid #e7e7e7;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 30px;
}

.thumbnail:hover {
  border: 2px solid orange;
}

.thumbnail:hover > .image {
  transition: 0.5s;
  transform: scale(1.1);
}

.caption * {
  margin: 0;
  padding: 10px;
  font-size: 14px;
}

.caption {
  padding: 8px;
}

.body {
  padding-top: 30px;
}

/* footer and social */
.footer-padding {
  padding: 40px 0;
}

.all-li a {
  color: #333333;
}

footer .h4 {
  padding-bottom: 10px;
  margin-top: 25px;
  font-weight: 900;
  font-size: 18px;
}

.social {
  display: flex;
  padding-top: 20px;
}

.social i {
  padding: 13px 15px;
  margin-right: 15px;
  color: #ffffff;
}

.social i:hover {
  background-color: grey;
  cursor: pointer;
}

.footer-bg {
  background-color: #f2f2f2;
}

.footer-border {
  border-left: 1px solid #d3d3d3;
  padding-left: 15px;
}

/*use color:orange for the orange color*/
/*use background-color: #d3d3d3; color: #5c5c5c; for the badges*/
/* use color:grey for the social-share icons on hover */
